[submodule "liboculus"]
	path = liboculus
	url = https://github.com/apl-ocean-engineering/liboculus
	branch = main
[submodule "g3log_ros"]
	path = g3log_ros
	url = https://gitlab.com/apl-ocean-engineering/g3log_ros
	branch = main
